#limetime {
	background: #333;
	width:100%;
	height:610px;
	position: relative;
	z-index: -2;
}

.arrow {
	height: 64px;
	width: 4.5%;
	overflow: auto;
 	margin: auto;
  	position: absolute;
	bottom: 0; 
	top: 0; 
}

.left {
	background: url('assets/arrow-left.png') center rgba(255,255,255,0.5) no-repeat;
	left: 0; 
	right: auto;
	cursor: pointer;
	z-index: 1;
}

.right {
	background: url('assets/arrow-right.png') center rgba(255,255,255,0.5) no-repeat;
	left: auto; 
	right: 0;
	cursor: pointer;
	z-index: 1;
}

#timeline {
	width:91%;
	height:7px;
	background:#afe235;
	overflow: auto;
 	margin: auto;
  	position: absolute;
	bottom: 0; 
	top: 0; 
	left: 0; 
	right: 0;
}

.event {
	position: relative;	
	width:14%;
	float:left;
}

.firstevent {
	top: 4.5%;
	right: 0;
	bottom: 0;
	left: 5%;
}

.popover{
	width:100%;
	background:#666;
	color:#fff;
	font-family: "Trebuchet MS";
	font-size:0.7em;
	font-weight:400;
	letter-spacing: 0.2em;
	text-align: left;
	height:100px;
	padding:5px;
	position: relative;
}

.popover:after {
  content: "";
  display: block; 
  position: absolute;
  bottom: -15px;
  left: 20px;
  width: 0;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #666 transparent;
}

.circle {
  background-color: #333;
  border: 7px solid #afe235;
  border-radius: 22px;
  height: 15px;
  width: 15px;
  position: absolute;
  top: 120%;
  left: 8%;
}

.branch {
	width:7px;
	height:110%;
	background:#afe235;
	overflow: auto;
  	position: absolute;
	z-index: -1;
	left: 12%;
	top: 140%;
}

.eventImage {
	width:36px;
	height:36px;
	float:left;
	margin-right:15px;
	margin-bottom:10px;
}

.eventTitle {
	color:#afe235;
	font-size:1.4em;
	font-weight:400;
	letter-spacing: 0.3em;
}

.eventSubTitle {
	color:#afe235;
	font-size:1.1em;
	font-weight:400;
	letter-spacing: 0.3em;
}

#eventtop2{
	top: 4.5%;
	right: 0;
	bottom: 0;
	left: 30%;
}

#eventtop3{
	top: 4.5%;
	right: 0;
	bottom: 0;
	left: 50%;
}